allow untrusted_app wc_prop:file { open getattr };
allow untrusted_app tee_listener_prop:file { open getattr };
allow untrusted_app keymaster_prop:file { open getattr };
allow untrusted_app timekeep_prop:file { open getattr };
allow untrusted_app camera_prop:file { open getattr };
allow untrusted_app net_rmnet_prop:file { open getattr };
allow untrusted_app wifi_prop:file { open getattr };
allow untrusted_app persistent_properties_ready_prop:file { open getattr };
allow untrusted_app boottime_prop:file { open getattr };
allow untrusted_app overlay_prop:file { open getattr };
allow untrusted_app safemode_prop:file { open getattr };
allow untrusted_app mmc_prop:file { open getattr };
allow untrusted_app device_logging_prop:file { open getattr };
allow untrusted_app net_dns_prop:file { open getattr };
allow untrusted_app logpersistd_logging_prop:file { open getattr };
allow untrusted_app dumpstate_options_prop:file { open getattr };
